<ion-content class="swiper-no-swiping">
  <!-- Essa classe bloqueia o Swiper na tela -->

  <div class="container top">
    <ion-segment (ionChange)="segmentChanged($event)" value="login">
      <ion-segment-button value="login">
        <ion-label>Login</ion-label>
      </ion-segment-button>

      <ion-segment-button value="register">
        <ion-label>Cadastro</ion-label>
      </ion-segment-button>
    </ion-segment>

    <!-- Dá para pegar o valor do evento e manipular css -->
    <!-- O value é em qual ele vai inicializar -->
  </div>

  <ion-slides>

    <ion-slide>
      <div class="slide-inner ion-padding">
        <span>Login</span>

        <ion-item class="ion-margin-top" lines="none">
          <ion-input type="email" placeholder="E-mail" [(ngModel)]="usuarioLogin.email"></ion-input>
        </ion-item>

        <ion-item class="ion-margin-top" lines="none">
          <ion-input type="password" placeholder="Senha" [(ngModel)]="usuarioLogin.senha"></ion-input>
        </ion-item>

        <ion-button class="ion-margin-top" color="light" expand="block">
          Entrar
        </ion-button>

      </div>
    </ion-slide>

    <ion-slide>
      <div class="slide-inner ion-padding">
        <span>Cadastro</span>

        <ion-item class="ion-margin-top" lines="none">
          <ion-input type="text" placeholder="Nome" ></ion-input>
        </ion-item>

        <ion-item class="ion-margin-top" lines="none">
          <ion-input type="email" placeholder="E-mail" [(ngModel)]="usuarioCadastro.email"></ion-input>
        </ion-item>

        <ion-item class="ion-margin-top" lines="none">
          <ion-input type="password" placeholder="Senha" [(ngModel)]="usuarioCadastro.email"></ion-input>
        </ion-item>

        <ion-button class="ion-margin-top" color="light" expand="block">
          Cadastrar
        </ion-button>

      </div>
    </ion-slide>

  </ion-slides>

  <div class="ocean">
    <div class="waves" [ngStyle]="{ 'background-position-x': wavesPosition + 'px'  }"></div>
    <!-- ngStyle Para ser um valor dinamico --> 

    <div class="container bottom ion-text-center">
      <span>Texto de teste para esse aplicativo aqui</span>
    </div>
  </div>
</ion-content>