.container {
    position: absolute;
    left: 0;
    right: 0;
    width: 75%;
    margin: 0 auto;
    z-index: 2;

    &.top {
        top: 5%;
    }

    &.bottom {
        bottom: 30%;

        span {
            color: #ffff;
        }
    }
}

ion-slides {
    height: 100%;
    background-image: linear-gradient(to bottom right, #87CEFA, #483D8B);

    .slide-inner {
        width: 75%;
        color: #ffff;
        background-color: transparent;
        border-radius: 10px;
        border: solid 2px;

        ion-item {
            --border-radius: 10px ;
        }
    }
}

.ocean {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 50%;
}
 