<ion-header>
  <ion-toolbar>
    <ion-title>Produtos</ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content>
  <!-- loading animado da lista (ion-skeleton-text)-->
  <ion-list *ngIf="!produtos.length">
    <!-- Quantidade de itens fake -->
    <ion-item *ngFor="let item of [0, 1, 2, 3]">
      <ion-avatar slot="start">
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-avatar>
      <ion-label>
        <h3>
          <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
  </ion-list>

  <!-- lista já carregada -->
  <ion-list>
    <!-- Slide para aparecer a opção de excluir -->
    <ion-item-sliding *ngFor="let produto of produtos">
      <ion-item button [routerLink]="['/produto-detalhe', produto.id]">
        <ion-avatar slot="start">
          <img [src]="produto.imagem">
        </ion-avatar>

        <ion-label>
          {{ produto.nome }}
          <p>{{ produto.descricao }}</p>
          <p>{{ produto.dataCriacao | date: 'short' }}</p>
        </ion-label>

        <ion-note color="primary" slot="end" *ngIf="produto.preco">{{ produto.preco | currency: 'BRL' }}</ion-note>
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option color="danger" (click)="deleteProduct(produto.id)">
          <ion-icon slot="top" name="trash"></ion-icon>
          Excluir
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col size="6">
          <ion-button (click)="logout()" color="danger" expand="block">
            Sair
          </ion-button>
        </ion-col>

        <ion-col size="6">
          <ion-button routerLink="/produto-detalhe" expand="block">
            Add produto
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>